/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/createtaxdb -profile test_alternatives,<docker/singularity> --outdir <OUTDIR>

    This config is for testing mutually exclusive options to those in the default `test`

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]
}

params {
    config_profile_name              = 'Test profile'
    config_profile_description       = 'Minimal test dataset to check pipeline function'

    // Input data
    input                            = params.pipelines_testdata_base_path + 'createtaxdb/samplesheets/test.csv'

    dbname                           = "database"

    build_bracken                    = false
    build_diamond                    = false
    build_ganon                      = false
    // To test keeping intermediate files
    build_kaiju                      = true
    kaiju_keepintermediate           = true
    // To test using different database type
    build_malt                       = true
    build_centrifuge                 = false
    // To test without providing a custom seqid2taxid file
    build_kraken2                    = true
    // To test keeping intermediate files
    build_krakenuniq                 = true
    krakenuniq_keepintermediate      = true

    krakenuniq_build_options         = "--work-on-disk --max-db-size 14 --kmer-len 15 --minimizer-len 13 --jellyfish-bin \"\$(which jellyfish)\""
    malt_build_options               = "--sequenceType Protein"

    accession2taxid                  = params.pipelines_testdata_base_path + 'createtaxdb/data/taxonomy/nucl_gb.accession2taxid'
    prot2taxid                       = params.pipelines_testdata_base_path + 'createtaxdb/data/taxonomy/prot.accession2taxid.gz'
    nodesdmp                         = params.pipelines_testdata_base_path + 'createtaxdb/data/taxonomy/nodes.dmp'
    namesdmp                         = params.pipelines_testdata_base_path + 'createtaxdb/data/taxonomy/names.dmp'
    malt_mapdb                       = 's3://ngi-igenomes/test-data/createtaxdb/taxonomy/megan-nucl-Feb2022.db.zip'
    malt_mapdb_format                = 'mdb'

    // General output options
    generate_tar_archive             = false

    generate_downstream_samplesheets = true
    generate_pipeline_samplesheets   = 'taxprofiler'
    generate_samplesheet_dbtype      = 'raw'
}

process {
    withName: KRAKENUNIQ_BUILD {
        memory = { 12.GB * task.attempt }
    }
}
