/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/createtaxdb -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name            = 'Full test profile'
    config_profile_description     = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input                          = params.pipelines_testdata_base_path + 'createtaxdb/samplesheets/samplesheet_test_full.csv'
    dbname                         = "test_full"

    accession2taxid                = params.pipelines_testdata_base_path + 'createtaxdb/data/taxonomy/nucl_gb.accession2taxid'
    nucl2taxid                     = "s3://nf-core-awsmegatests/createtaxdb/input_data/nucl2taxid.map"
    prot2taxid                     = "s3://nf-core-awsmegatests/createtaxdb/input_data/prot2taxid.map"
    nodesdmp                       = "s3://nf-core-awsmegatests/createtaxdb/input_data/nodes.dmp"
    namesdmp                       = "s3://nf-core-awsmegatests/createtaxdb/input_data/names.dmp"
    genomesizes                    = "s3://nf-core-awsmegatests/createtaxdb/input_data/species_genome_size.txt.gz"
    malt_mapdb                     = "s3://nf-core-awsmegatests/createtaxdb/input_data/nucl_acc2tax-Jul2019.abin"
    malt_mapdb_format              = 'a2t'

    build_bracken                  = true
    build_diamond                  = true
    build_ganon                    = true
    build_kaiju                    = true
    build_malt                     = true
    build_centrifuge               = true
    build_kraken2                  = true
    build_krakenuniq               = true
    krakenuniq_build_options       = "--jellyfish-bin \"\$(which jellyfish)\""
    build_kmcp                     = true

    generate_tar_archive           = true
    generate_downstream_samplesheets = true
    generate_pipeline_samplesheets = "taxprofiler"
    generate_samplesheet_dbtype    = "tar"
    unzip_batch_size               = 50
}
